body {
  margin: 0;
  height: 100vh;
  background-color: black;
}
#root {
  height: 100%;
}
#app {
  height: 100%;
  background-color: blue;
}
#header {
  height: 13%;
  background-color: green;
}
#main {
  height: 67%;
  background-color: red;
}
#footer {
  height: 20%;
  background-color: yellow;
}
