* {
  margin: 0;
}
.gridContainer {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px red;
  display: grid;
  grid-template-columns: 40% 45% 15%;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container h1 {
  font-size: 52px;
  color: darkgreen;
}
.flex-container a {
  margin-right: 50px;
  font-size: 19px;
  text-decoration: none;
}
.icon i {
  font-size: 27px;
}
.icon a {
  margin-right: 30px;
}

.ad-container {
  width: 1000px;
  height: 450px;

  margin: 30px auto;
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}
.ad-1 {
  background-color: lightgreen;
  grid-column: 1/4;
  grid-row: 1/5;
}
.ad-2 {
  background-color: lightpink;
  grid-column: 4/6;
  grid-row: 1/3;
}
.ad-3 {
  background-color: lightslategrey;
  grid-column: 4/6;
  grid-row: 3/5;
}

.top-deals {
  width: 95%;
  height: 350px;

  margin: 30px auto;
  display: grid;
  grid-template-rows: 70px 280px;
}
.top-deals .top-deals-title {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.card {
  width: 270px;
  padding: 10px;
  box-shadow: 0 0 10px black;
}
.top-deal-products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card h3 {
  text-align: center;
  color: green;
  margin-top: 10px;
}
