* {
  margin: 0;
}
.gridContainer {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px red;
  display: grid;
  grid-template-columns: 40% 45% 15%;
  background-color: white;
  position: sticky;
  top: 0;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container h1 {
  font-size: 52px;
  color: darkgreen;
}
.flex-container a {
  margin-right: 50px;
  font-size: 19px;
  text-decoration: none;
}
.icon i {
  font-size: 27px;
}
.icon a {
  margin-right: 30px;
}
#bgImage {
  width: 100%;
  height: 330px;
  box-shadow: 0 0 10px black;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7)),
    url("https://static.vecteezy.com/system/resources/previews/002/099/443/non_2x/programming-code-coding-or-hacker-background-programming-code-icon-made-with-binary-code-digital-binary-data-and-streaming-digital-code-vector.jpg");
  background-size: 100% 100%;
  background-position: center;
}
#bgImage img {
  border-radius: 50%;
  box-shadow: 0 0 10px green;
  position: relative;
  left: 44%;
  top: 250px;
}
#info {
  margin-top: 90px;
}
#info h1 {
  text-align: center;
  color: green;
  margin-bottom: 10px;
}
#info h4 {
  text-align: center;
}
#info p {
  margin: 20px auto;
  font-family: cursive;
  width: 1100px;
  text-align: center;
  color: gray;
  font-weight: bold;
}
#social-icons {
  width: 200px;
  margin: 30px auto;

  display: flex;
  justify-content: space-between;
}
.whatsapp-icon {
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
