* {
  margin: 0;
}
.gridContainer {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px red;
  display: grid;
  grid-template-columns: 40% 45% 15%;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container h1 {
  font-size: 52px;
  color: darkgreen;
}
.flex-container a {
  margin-right: 50px;
  font-size: 19px;
  text-decoration: none;
}
.icon i {
  font-size: 27px;
}
.icon a {
  margin-right: 30px;
}
.top-deals {
  width: 95%;
  height: 350px;

  margin: 30px auto;
  display: grid;
  grid-template-rows: 70px 280px;
}
.top-deals .top-deals-title {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.card {
  width: 270px;
  padding: 10px;
  box-shadow: 0 0 10px black;
}
.top-deal-products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card h3 {
  text-align: center;
  color: green;
  margin-top: 10px;
}
