* {
  margin: 0;
}
.gridContainer {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px red;
  display: grid;
  grid-template-columns: 40% 45% 15%;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container h1 {
  font-size: 52px;
  color: darkgreen;
}
.flex-container a {
  margin-right: 50px;
  font-size: 19px;
  text-decoration: none;
}
.icon i {
  font-size: 32px;
}
.icon a {
  margin-right: 30px;
}
