* {
  margin: 0;
}
.gridContainer {
  width: 100%;
  height: 15vh;
  box-shadow: 0 0 10px red;
  display: grid;
  grid-template-columns: 40% 45% 15%;
  background-color: white;
  position: sticky;
  top: 0;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container h1 {
  font-size: 52px;
  color: darkgreen;
}
.flex-container a {
  margin-right: 50px;
  font-size: 19px;
  text-decoration: none;
}
.icon i {
  font-size: 27px;
}
.icon a {
  margin-right: 30px;
}

.trendingProductsAd {
  height: 85vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8)),
    url("https://bluejay.com.my/wp-content/uploads/2021/12/Kids-clothes-Hong-Kong-seed.jpg");

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.trendingProductsAd h1 {
  font-size: 72px;
  color: yellow;
}
.trendingProductsAd p {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
  color: white;
  font-size: 17px;
}

.ad-container {
  width: 1100px;
  height: 450px;

  margin: 30px auto;
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.ad-1 {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7)),
    url("https://www.shutterstock.com/image-photo/cute-baby-stylish-clothes-home-260nw-1649626456.jpg");

  grid-column: 1/4;
  grid-row: 1/5;
}
.ad-1 h1 {
  font-size: 52px;
  color: yellow;
  margin-bottom: 10px;
}
.ad-1 p {
  text-align: center;
}
.ad-2 {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7)),
    url("https://img.freepik.com/premium-photo/cosmetics-products-hd-8k-wallpaper-stock-photographic-image_915071-73605.jpg?w=2000");
  background-color: lightpink;
  grid-column: 4/6;
  grid-row: 1/3;
}
.ad-2 h1,
.ad-3 h1 {
  font-size: 37px;
  margin-bottom: 10px;
  color: yellow;
}
.ad-2 p,
.ad-3 p {
  text-align: center;
}
.ad-3 {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7)),
    url("https://tse4.mm.bing.net/th/id/OIP.f9pzF1LWNIKApcu1yZm-VwHaE8?rs=1&pid=ImgDetMain&o=7&rm=3");
  background-color: lightslategrey;
  grid-column: 4/6;
  grid-row: 3/5;
}
.bgProperties {
  color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-deals {
  width: 95%;
  height: 350px;

  margin: 30px auto;
  display: grid;
  grid-template-rows: 70px 280px;
  gap: 5px;
}
.top-deals .top-deals-title {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.card {
  width: 270px;
  padding: 10px;
  box-shadow: 0 0 10px black;
}
.top-deal-products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card h3 {
  text-align: center;
  color: green;
  margin-top: 10px;
}
